<!--
  Generated template for the AudioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header >
  <img src="assets/header.png">
</ion-header> -->

 <ion-header>
  <ion-navbar>
    <ion-title>
    <img class="header-logo" src="assets/header.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
   <ion-grid>
  <ion-row><ion-col>
    <ion-item no-lines>
      <ion-label>Filter by duration</ion-label>
      <ion-select interface="popover" role="presentation" (ionChange)="onSelectDuration($event); ">
        <ion-option *ngFor='let filter of filterbyduration' [value]=filter [selected]="filter.name==selectDuration.name" >{{filter.name}}</ion-option>
        <!-- <ion-option value=0 >0 min</ion-option> -->
        <!-- <ion-option value="01:00" >1 min</ion-option> -->
        <!-- <ion-option value="02:00" >2 min</ion-option> -->
        <!-- <ion-option value="03:00" >3 min</ion-option> -->
       <!--  <ion-option value="04:00" >4 min</ion-option> -->

         <!-- <ion-option value="05:00" >5 min</ion-option> -->
          <!-- <ion-option value="10:00">10 min</ion-option> -->
          </ion-select>
    </ion-item></ion-col></ion-row>
  

 <ion-row>
  <ion-card *ngFor="let title of json_array; let i= index" (click)="itemSelected(title,i)">

    <div class="embedded">

      <img [src]="title.featured_image_src">


      <ion-card-content>
        <div class="card-title">{{title.title.rendered}}</div>
        <img src="assets/music.png" item-right class="fab-img" width="20"/>
        <div class="card-subtitle" *ngIf="title.restrict_area == 'paid'">For premium users</div>
        <div class="card-subtitle" *ngIf="title.restrict_area == 'unpaid'">For all users</div>
        <div *ngIf="title.restrict_area == 'paid'" class="premium">
          <img src="assets/premium.png" item-right width="20"/>
          Premium
        </div>

      </ion-card-content>
    </div>

  </ion-card>
</ion-row>
</ion-grid>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="5000px"  [hidden]="laodingcomplete" >
  <ion-infinite-scroll-content
    loading-spinner="bubbles"
    loading-text="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
