<!--
  Generated template for the CoachingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>1 On 1 Coaching</ion-title>
  </ion-navbar>
</ion-header>
   
<ion-content padding>
  <ion-grid>
     <ion-row  class="logo" justify-content-center > <img src="assets/logo.png"></ion-row>
     <ion-row class="autherimg">
      <img src="assets/Yessi_Sitting.jpg"> 
      <p class="para">Sign up for a 1 on 1 Coaching session with Yessica Avancena, Psychotherapist and Certified Mindfulness Teacher. She can help tailor a mindfulness program to fit your own personal needs and style. Through her intuitive nature, she is able to identify potential energy and emotional blockages preventing you from being the best version of yourself and living to your highest authentic potential.</p>
     </ion-row>
     <ion-row class='autherimg' >
       <!-- <img src="assets/Yessi_Sitting.jpg"> -->
     </ion-row>
</ion-grid>
   <h3 class="heading">Contact <span>Details</span></h3> 
    <form [formGroup]="formgroup">
 <ion-card class="card-ios"> 
    <ion-item>	
    	<ion-label><ion-icon name="person"></ion-icon ></ion-label>
	 <ion-input required pattern="^[a-zA-Z ]*$" placeholder="First & Last Name" type="text" formControlName="name">
                </ion-input>
    </ion-item>
     <p class="help-block" *ngIf=" name.hasError('required') && name.touched ">Name is Required</p>
     <p class="help-block" *ngIf=" name.hasError('pattern') && name.touched ">Enter Valid Name</p>
 </ion-card>

  <ion-card class="card-ios">
            <ion-item>
                <ion-label>
                 <ion-icon class="icon-size" name="mail"></ion-icon>
                </ion-label>
                <ion-input required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[A-Za-z]{2,4}$" placeholder="Email"
                           type="email" formControlName="email"></ion-input>
            </ion-item>
              <p class="help-block" *ngIf=" email.hasError('required') && email.touched ">Email is Required</p>
              <p class="help-block" *ngIf=" email.hasError('pattern') && email.touched ">enter valid Email </p>
     </ion-card>
      <ion-card class="card-ios">
          <ion-item>
            <ion-label><ion-icon name="contact"></ion-icon ></ion-label>
            <!-- <ion-input required pattern="^[0-9]{10}$" type="text" placeholder="Phone" formControlName="contact" ></ion-input> -->
          <ion-input  pattern="^[0-9]{10}$" type="text" placeholder="Phone" formControlName="contact" ></ion-input>

          </ion-item>	
             <!-- <p class="help-block" *ngIf=" contact.hasError('required') && contact.touched ">contact no require</p>  -->
              <p class="help-block" *ngIf=" contact.hasError('pattern') && contact.touched ">enter valid contact no </p>
            
      </ion-card>
            <ion-card class="card-ios">
            	<ion-item>
               <ion-label><ion-icon name="chatboxes"></ion-icon></ion-label>	
            	<ion-textarea placeholder="Message" formControlName="message">
               	</ion-textarea>
               </ion-item>
            </ion-card>
            
            <button class="signup-button button-full"  ion-button color="dark" type="submit"
                  (click)="submitDetail(formgroup.value)" [disabled]="!formgroup.valid || value" expand="full">Submit
          </button>

</form> 
</ion-content>
