// http://ionicframework.com/docs/theming/

.toolbar-background {
  border-color: transparent !important;
 // background-color: $background-color;


  background-color: #E91E63;

}

.toolbar-title {
  color: $text-color;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

// .title.title-ios {
//   padding: 0px 15px;
// }

.header {
  &-md::after {
    background-image: none;
  }

  &-ios {
    position: relative;
    padding-top: 10px;
  }
}


// footer-section
// -------------------------
.tabbar.show-tabbar {
  background: #2c2e2d;
  padding: 5px;

  .tab-button-icon {
    color: #fff;
    font-size: 2.8rem;
  }

  .tab-button[aria-selected=true] .tab-button-icon {
    color: #0bc5b8;
  }

  .tab-button-text {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .5px;
    font-weight: normal;
  }

  .tab-button[aria-selected=true] .tab-button-text {
    color: #0bc5b8;
  }
}

// login , create account ,  forget password & classes 
page-resetpassword, page-login, page-signedup, page-coaching{

  ion-card.card-ios {
    border-radius: 35px;
    border: 1px solid #fff;
    box-shadow:none;
    margin-left: 0;
    margin-right: 0;
    width: 100%; 
  } 
  ion-list {
    margin-bottom: 0 !important;
  }
  .list-md .item-input:last-child {
    border-bottom: 0;
}
  .signup-button { 
    color: #fff;
    background: linear-gradient(258deg, rgba(81,209,141,1) 0%, rgba(46,158,251,1) 100%) !important;
    opacity: 1 !important;
    border-radius: 35px !important;
    height: 4.6rem !important;
}
  .signin {
    color: #05c9c9;
  }
  ion-row.fixed-con {
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  ion-row.fixed-con .row {
    display: block;
    margin-bottom: 10px;
  }
  span.or-line {
    position: relative;
    display: inline-block; 
    background-color: #2c2e2d;
    width: 25px;
  }
  span.or-line:after {
      position: absolute;
      content: "";
      top: 9px;
      left: 50%;
      width: 130px;
      height: 1px;
      background-color: #fff; 
      text-align: center;
      margin: auto;
      transform: translateX(-50%);
      z-index: -1;
  }
  .help-block {

    color: #f00 !important;
    text-align: center;

} 
} 


// spinner
.spinnerCenter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%;
  width: 100%;
  text-align: center;
}

// scss for Error 
page-login, page-signedup, page-resetpassword{
ion-card{
  position: relative;
  .help-block {
    background-color:#05c9c9;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    margin: 0;
    padding: 0 1.2rem 0 1.2rem;
    position: absolute;
    top: 100%;
    z-index: 9;
    font-size: 1.2rem;
    right: 0; 
    color: #fff !important;
    transition: all 0.3s ease 0s;
    margin-top: -20px;
    border-radius: 7px 2px 20px 7px; 
    height: 2rem;
   line-height: 2rem;
    // margin-top: -10px;
    // border-radius: 2px 2px 7px 2px; 
    &:after{
      content: "";
      right: 0;
      top: -10px;
      position: absolute;
      border-color: transparent transparent #05c9c9 transparent;
      border-width:0 0px 14px 14px;
      border-style: solid;
    }
  }		 /* End of scss for Error  */	 
}	

} 

// Toolbar


.bar-button-default{
&-md, &-ios{
color:#fff;
}
}


  // header toolbar
  .header{
    .toolbar-background {
      background: -moz-linear-gradient(360deg, rgba(71,190,170,1) 0%, rgba(62,176,201,1) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(71,190,170,1)), color-stop(100%, rgba(62,176,201,1))); 
      background: -webkit-linear-gradient(360deg, rgba(71,190,170,1) 0%, rgba(62,176,201,1) 100%); 
      background: -o-linear-gradient(360deg, rgba(71,190,170,1) 0%, rgba(62,176,201,1) 100%);
      background: -ms-linear-gradient(360deg, rgba(71,190,170,1) 0%, rgba(62,176,201,1) 100%); 
      background: linear-gradient(90deg, rgba(71,190,170,1) 0%, rgba(62,176,201,1) 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47beaa', endColorstr='#3eb0c9',GradientType=1 );
    }
    .toolbar-title img {
     width: 200px;
      display: block;
      margin: auto;
    }
  }
  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 0.7em;
      height: 0.7em;
    }
  
    &[class*="custom-yoga"] {
      width: 0.8em;
      height:0.8em;
      mask-image: url(../assets/buddhist-yoga-pose.png);
    }
    &[class*="custom-flower"] {
      width: 0.6em;
      height: 0.6em;
      mask-image: url(../assets/lotus-flower.png);
    }
  
  
  }
